@import url(https://fonts.googleapis.com/css?family=Sacramento);

body {
  /*background-color:;*/
  background-image: url("images/Disney Background.jpg");
  background-position: center;
  background-size: 520px;
  background-repeat: repeat;
    margin: 0 auto;
  font-family: sans-serif;
  text-align: center;
  margin-bottom: 50px;
}

header{
  margin: 10px;
}

h1{
  padding-top: 20px;
  color: white;
  font-family: 'Sacramento', cursive;
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 0px;
}

h2{
  color: white;
  font-size: 14px;
  font-weight: normal;
}

#gameboard {
  width: 500px;
  height: 500px;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  /*margin-top: 70px;*/
  opacity: 0.85;
}

.question {
  width: 400px;
  background-color: firebrick;
  color: white;
  font-size: 16px;
  margin: auto;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
}

#answers{
  margin-bottom: 20px;
}

.answer {
  width: 400px;
  background-color: skyblue;
  color: black;
  margin: auto;
  padding: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 20px;
}

.right-or-wrong {
  width: 180px;
  background-color: lemonchiffon;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px;
}

.score {
  width: 190px;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: indigo;
  color: white;
  padding: 5px;

}

.next {
  width: 200px;
  margin: 0 auto;
  background-color: yellow;
  color: black;
  padding: 10px;
  border-radius: 20px;
}

a{
  color: white;
  text-decoration: none;
}

.image {
  padding: 10px;
  margin: 0 auto;
}

p{
  color: white: ;
  line-height: 2px;
}

footer{
  color: black;
  font-size: 10px;
  line-height: 3px;
  position:fixed;
  bottom:0px;
  left:0px;
  right:0px;
  height:50px;
  margin-bottom:0px;
}
